<div class="challenge-container  center">
    <div class="challenge-container-head blue-grey darken-1 white-text valign-wrapper center-align">
        <p class="challenge-question">{{data.question}}</p>
    </div>
    <div class="challenge-container-body whitevalign-wrapper">
        <div class="question-container">
            <p class="topic-indicator">{{data.topic}}</p>
            {{#each data.answers}}
                <div class="question-checkbox question-{{@index}}-container">
                    <label class="question-label-{{@index}}">
                        <input class="question-{{@index}}" type="checkbox"/>
                        <span style="color:black">{{this.awnser}}</span>
                    </label>
                    <div class="awnser a-{{@index}} hiddendiv">
                        {{#ifCond 'true' this.check}}
                            <label>
                                <input  class="solution-{{@index}}" type="checkbox" checked="checked" />
                                <span></span>
                            </label>
                        {{else}}

                            <label>
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                        {{/ifCond}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="challenge-container-footer blue-grey">
        <p class ="center-align question-count">{{element_count}}. küsimust</p>
        <button id="btn-check" class="btn btn-large btn-question-add waves-effect waves-light green btn-check" onclick="checkAwnsers()">Kontrolli</button>
        <button id="btn-next" class="btn btn-large btn-question-add waves-effect waves-light green btn-check btn-anchor-next disabled" onclick="nextQuestion()">Järgmine</button>
    </div>
</div>
<script>
    $(document).keydown(e=> {
        console.log(e);
        switch (e.which){
            case 13:
                $( '#btn-check').click();
                break;
            case 39:
                $( '#btn-next').click();
                break;
            case 49:
                $( '.question-0').click();
                break;
            case 50:
                $( '.question-1').click();
                break;
            case 51:
                $( '.question-2').click();
                break;
            case 52:
                $( '.question-3').click();
                break;
            case 53:
                $( '.question-4').click();
                break;
            case 54:
                $( '.question-5').click();
                break;
            case 55:
                $( '.question-6').click();
                break;
            case 56:
                $( '.question-7').click();
                break;
            case 57:
                $( '.question-8').click();
                break;
            case 58:
                $( '.question-9').click();
                break;
        }
    });
</script>